@import url(../globais/global.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
    --white: #FFFFFF;
    --yellow: #E1B142;
    --purple: #706492;
    --baby-blue: #B9CFFE;
    --salmon: #FF6B6B;
    
    --light-yellow: #FFF6D1;
    --very-light-yellow: #FFF8EA;
    --light-salmon: #FFE0E0;
    --very-light-purple: #F1DEFF;
    --light-purple: #D6BDFF;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: var(--light-yellow);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 137rem;
    padding: 10rem 2rem 2rem;
}

h1 {
    color: var(--purple);
    font-size: 6.4rem;
    text-align: left;
    padding: 2rem 0 5rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: flex-start;
}

.cards div {
    width: 28.8rem;
    height: 40rem;
    padding: 2rem;
    border-radius: 1.5rem;
    color: var(--white);
    text-align: center;
    box-shadow: 0 .4rem 1.2rem rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards img {
    width: 9.6rem;
    height: auto;
    margin-bottom: 2.4rem;
}

.cards h2 {
    margin-bottom: 2.88rem;
    font-size: 3.2rem;
}

.cards p {
    font-size: 1.92rem;
    margin-bottom: 3.2rem;
}

.card-amarelo p {
    margin-bottom: 4.408rem;
}

.card-azul h2, .card-azul p {
    color: var(--purple);
}

.cards a {
    background: var(--white);
    padding: 1.44rem 7.68rem;
    border-radius: 2.5rem;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
}

.card-salmao {
    background-color: var(--salmon);
}

.card-salmao a {
    color: var(--salmon);
}

.card-azul {
    background-color: var(--baby-blue);
}

.card-azul a {
    color: var(--baby-blue);
}

.card-roxo {
    background-color: var(--purple);
}

.card-roxo a {
    color: var(--purple);
}

.card-amarelo {
    background-color: var(--yellow);
}

.card-amarelo a {
    color: var(--yellow);
}