@import url(../globais/global.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    
    --black: #000;
    --white: #FFFFFF;
    --yellow: #E1B142;
    --purple: #706492;
    --baby-blue: #B9CFFE;
    --salmon: #FF6B6B;
    
    --light-yellow: #FFF6D1;
    --very-light-yellow: #FFF8EA;
    --light-salmon: #FFE0E0;
    --very-light-purple: #F1DEFF;
    --light-purple: #D6BDFF;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    background-color: var(--light-yellow);
    font-family: "Roboto", sans-serif;
}

h1 {
    color: var(--purple);
    font-size: 7.4rem;
    text-align: left;
    padding: 10rem 0 5rem;
}

main p {
    line-height: 1.6;
    color: var(--black);
    font-size: 2.4rem;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 8rem;
    background-color: var(--light-salmon);
    flex-wrap: wrap;
}

main img {
    flex: 1;
    max-width: 62rem;
    height: 60rem;
    margin-right: 10rem;
    margin-top: 8rem;
}


.intro {
    flex: 1;               /* ocupa metade */
    max-width: 50%;
    margin-left: 10rem;
}

.videos-section {
    max-width: 120rem;
    margin: 6rem auto;
    padding-inline: 8rem;
}

.videos-section h2 {
    font-size: 4rem;
    color: var(--black);
    margin-top: 15rem;
    margin-bottom: 8rem;
    text-align: left;
}

.videos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.video-card {
    display: flex;
    gap: 6rem;
    align-items: center;
}

.video-card:nth-child(even) {
    flex-direction: row-reverse;
}

.video-frame {
    flex-shrink: 0;
    width: 50rem;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    gap: 2rem;
    background: var(--white);
    border-radius: 1.2rem;
    padding: 2rem;
    box-shadow: 0 .4rem 1.2rem rgba(0,0,0,0.1);
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.video-frame iframe {
    width: 100%;
    height: 26rem;
    border: none;
    border-radius: 1rem;
}

.video-frame p {
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: center;
    color: #333;
}

.video-text {
    flex: 1;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-text h3 {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 3rem;
}

.video-text p {
    font-size: 2rem;
    color: var(--black);
}

.divider {
    margin: 10rem auto;
    border: none;
    border-top: .2rem solid var(--black);
    max-width: 80%;
    opacity: .8;
}

.extra-cards-text {
    max-width: 50%;
    margin-left: 43rem;
}

.extra-cards-text h2 {
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 4rem;
    text-align: left;
}

.extra-cards-text p {
    font-size: 1.8rem;
    margin-bottom: 8rem;
    color: var(--black);
    text-align: left;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: flex-start;
}

.cards div {
    width: 28.8rem;
    height: 40rem;
    padding: 2rem;
    border-radius: 1.5rem;
    color: var(--white);
    text-align: center;
    box-shadow: 0 .4rem 1.2rem rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cards img {
    width: 9.6rem;
    height: auto;
    margin-bottom: 2.4rem;
}

.cards h3 {
    margin-bottom: 2.88rem;
    font-size: 3.2rem;
    color: var(--white);
}

.cards .card-text p {
    font-size: 1.92rem;
    margin-bottom: 3.2rem;
    color: var(--white);
}

.card-amarelo p {
    margin-bottom: 5.5rem;
}

.card-azul h3, .card-azul p {
    color: var(--purple);
}

.cards a {
    background: var(--white);
    padding: 1.44rem 7.68rem;
    border-radius: 2.5rem;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.card-salmao {
    background-color: var(--salmon);
}

.card-salmao a {
    color: var(--salmon);
}

.card-azul {
    background-color: var(--baby-blue);
}

.card-azul a {
    color: var(--baby-blue);
}

.card-roxo {
    background-color: var(--purple);
}

.card-roxo a {
    color: var(--purple);
}

.card-amarelo {
    background-color: var(--yellow);
}

.card-amarelo a {
    color: var(--yellow);
}