@import url(../globais/global.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 62.5%; 
  background: #F1DEFF;
  color: #2B1475;
  background-image: url(./certo.png);
}

.tinta {
  background-image: url('./assets/image 5.png'); 
  background-repeat: no-repeat;
  width: 57.375rem;
  height: 22rem;                    
  padding-left: 63rem;
}

h1 {
  align-items: center;
  text-align: center;
  font-size: 5.625rem;
}

.container {
  background-color: #D6BDFF;
  width: 127.8rem;
  height: 68.5rem;
  margin-inline: auto;
  border-radius: 5rem;
  padding-inline: 4rem;
  gap: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}