@import url(../globais/global.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --misty-rose: #FFE0E0;
     --cornsilk: #FFF6D1;
}

main{
    background: var(--misty-rose);
    max-width: 100%;
    background: linear-gradient(to bottom,var(--misty-rose) 0%,var(--cornsilk) 30%,var(--cornsilk) 100%);
    padding-top: 4rem;
}

main h1 {
    font-size: 5rem;
    font-weight: 600;
    margin: 0 0 2rem 200px; 
  }
  
.jogos {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 4rem auto;
    flex-wrap: wrap;
    max-width: 1000px;
    position: relative;
  }

  .conteudoJogo1{
    padding: 4rem;
    align-items: center;
    justify-content: row;
    padding-top: 15rem;
    background: white;
    border-radius: 2rem;
    width: 280px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .conteudoJogo2{
    padding: 4rem;
    align-items: center;
    justify-content: row;
    padding-top: 15rem;
    background: white;
    border-radius: 2rem;
    width: 280px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .jogo2 img {
        position: absolute; 
        right: 199px;
        top: -75px;
        width: 285px;
        z-index: 10px; 
  }

  .jogo1 img{
    position: absolute; 
    left: 179px;
    top: -74px;
    width: 318px;
    z-index: 10px; 
  }
  
  .jogos h2 {
    font-size: 1,7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-right: 9rem;
  }
  
  .jogos p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #333;
  }

  .jogo1 a {
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    background-color: #f4c94c;

  }
  
  .jogo2 a {
    display: block; 
    width: 100%; 
    padding: 1rem 0;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    background-color: #f24747;
    text-align: center; 
  }

  .jogo1 a {
    background-color: #f4c94c;
  }
  
  .jogo2 a {
    background-color: #f24747;
  }

  .button{
    border: none;
  }

  .jogos a:hover {
    transform: scale(1.05);
  }

.resto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }

.resto h2 {
    font-size: 3rem;
    margin-bottom: 4rem;

    font-weight: bold;
    text-align: center;
}
  
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: flex-start;
}

.cards div {
    width: 28.8rem;
    height: 40rem;
    padding: 2rem;
    border-radius: 2rem;
    color: var(--white);
    text-align: center;
    box-shadow: 0 .4rem 1.2rem rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards img {
    width: 9.6rem;
    height: auto;
    margin-bottom: 2.4rem;
}

.cards h2 {
    margin-bottom: 2.88rem;
    font-size: 3.2rem;
}

.cards p {
    font-size: 1.92rem;
    margin-bottom: 3.2rem;
}

.card-amarelo p {
    margin-bottom: 5.5rem;
}

.card-azul h2, .card-azul p {
    color: var(--purple);
}

.cards a {
    background: var(--white);
    padding: 1.44rem 7.68rem;
    border-radius: 2.5rem;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.cards a:hover {
    transform: scale(1.05);
}

.card-salmao {
    background-color: var(--salmon);
}

.card-salmao a {
    color: var(--salmon);
}

.card-azul {
    background-color: var(--baby-blue);
}

.card-azul a {
    color: var(--baby-blue);
}

.card-roxo {
    background-color: var(--purple);
}

.card-roxo a {
    color: var(--purple);
}

.card-amarelo {
    background-color: var(--yellow);
}

.card-amarelo a {
    color: var(--yellow);
}

.jogo1 a:hover {
    filter: brightness(1.1);
}


