* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    font-size: 62.5%; 

    --black: #000;
    --white: #FFFFFF;
    --yellow: #E1B142;
    --purple: #706492;
    --baby-blue: #B9CFFE; 
    --salmon: #FF6B6B;

    --light-yellow: #FFF6D1;
    --very-light-yellow: #FFF8EA; 
    --light-salmon: #FFE0E0;
    --very-light-purple: #F1DEFF;
    --light-purple: #D6BDFF;
}

/*header*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem; 
    background-color: white;
    border-bottom: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 7.5rem; 
    margin-right: 1.5rem; 
}

.logo span {
    font-weight: bold;
    color: #706492;
    font-size: 2rem; 
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 4rem;
    padding-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.8rem; 
    color: var(--black);
    transition: color 0.3s ease;
}

.nav-links a.active {
    color: var(--salmon); 
}

.nav-links a:hover {
    color: var(--salmon); 
}

.info{
    margin-top: 15rem;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 2.5rem;
  }
  
  .info img{
    width: 22.1rem;
    margin-right: 5rem;
  }
  
  .info p{
    margin-block: 4rem;
    margin-inline: 7rem;
    
  }
  
/* Rodapé */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
  background-color: #ffffff;
  margin-top: 5rem;
}

.logoRodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.logoRodape img {
  width: 14rem;
}

.logoRodape h1 {
  font-size: 2.2rem;
  color: #6f64a6;
  font-weight: bold;
  margin: 0;
}

.aboutRodape {
  max-width: 40rem;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.5;
}

.aboutRodape strong {
  font-weight: bold;
}

.contactRodape {
  font-size: 1.5rem;
  color: #333;
  line-height: 1.6;
}

.contactRodape a {
  color: #5db4c9;
  text-decoration: none;
}

.contactRodape a:hover {
  text-decoration: underline;
}