* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    font-size: 62.5%; 

    --black: #000;
    --white: #FFFFFF;
    --yellow: #E1B142;
    --purple: #706492;
    --baby-blue: #B9CFFE; 
    --salmon: #FF6B6B;

    --light-yellow: #FFF6D1;
    --very-light-yellow: #FFF8EA; 
    --light-salmon: #FFE0E0;
    --very-light-purple: #F1DEFF;
    --light-purple: #D6BDFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem; 
    background-color: white;
    border-bottom: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 7.5rem; 
    margin-right: 1.5rem; 
}

.logo span {
    font-weight: bold;
    color: #706492;
    font-size: 2rem; 
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 4rem;
    padding-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.8rem; 
    color: var(--black);
    transition: color 0.3s ease;
}

.nav-links a.active {
    color: var(--salmon); 
}

.nav-links a:hover {
    color: var(--salmon); 
}